.CardBackground{
    display: flex;
    flex-direction: row;
    width:98%;
    height:5rem;
    background-color:#4b4b4b;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
}

.CardText{
    color: #DA8300;
    font-size: 1vw;
    margin: auto;
}

.ProjectTextBox{
    display: flex;
    flex-direction: row;
    width:20%;
}

.DescriptionTextBox{
    display: flex;
    flex-direction: column;
    width:60%;
}

.LanguageTextBox{
    display: flex;
    flex-direction: column;
    width:20%;
}

.HorizontalLine{
    margin-left: auto;
    width:.1rem;
    background-color: #383838;
    height:80%;
}

@media (max-width: 500px) {
    .CardText{
        font-size: 1.8vw;

    }

    .HorizontalLine{
        width:.05rem;
    }
}

@media (min-width: 500px) and (max-width: 800px) {

}

@media (min-width: 800px) and (max-width: 1200px) {

    
}

@media  (min-width: 480px)  and  (max-width: 800px) and (orientation: landscape){
    /* landscape mode */

}